#cuerpoPrincipal {
    background-color: #ff032c;
    border-left: 2px solid black ;
    border-right: 2px solid black ;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#botonesRojos {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    margin-bottom: 5px;
    gap: 20px;
}
.btnRojo {
    width: 15px; 
    height: 15px; 
    border-radius: 50%; 
    border: solid black 2px;
    cursor: pointer; 
    background-color: red;
    margin: 10px;
}

#marcoGris {
    background-color: #dfdfdf;
    width: 90%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
#pantallaNegra {
    background-color: #1f1f1f;
    width: 90%;
    height: 85%;
    border: solid black 2px;
    overflow-y: scroll;
}
#botonesAbajo {
    width: 90%;
}
#btnRojoAbajo {
    background-color: red;
    width:25px;
    height: 25px;
    margin: 10px;
    border-radius: 50%;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#btnRojoAbajo:hover, .btnRojo:hover {
    background-color: #e93251;
    cursor: pointer;
}

/*------MEDIA QUERYS PARA DISEÑO RESPONSIVE-----*/
@media screen and (min-width: 425px) and (max-width: 768px) {
    .btnRojo {        
        width: 18px; 
        height: 18px; 
    }
    #marcoGris {
        max-width: 550px;
    }
    #btnRojoAbajo {
        width:30px;
        height: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .btnRojo {
        width: 20px; 
        height: 20px; 
    }
    #marcoGris {
        max-width: 850px;
    }
    #btnRojoAbajo {
        width:35px;
        height: 35px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .btnRojo {
        width: 22px; 
        height: 22px; 
    }    
    #marcoGris {
        max-width: 1200px;
    }
    #btnRojoAbajo {
        width:38px;
        height: 38px;
    }
}
@media screen and (min-width: 1440px) {
    .btnRojo {
        width: 25px; 
        height: 25px; 
    }
    #marcoGris {
        max-width: 1500px;
    }
    #btnRojoAbajo {
        width:40px;
        height: 40px;
    }
}
