<footer>
    <div id="circuloNegro">
        <div id="circNegro">
            
        </div>
    </div>
    <div id="panelPrincipal">
        <div id="botonesAzulRojo">
            <div id="botonRojoDiv">
            </div>
            <div id="botonAzulDiv">
            </div>
        </div>
        <div id="panelVerde">
            <div id="panVerde">
                
            </div>
        </div>
    </div>
    <div id="cruzDiv">
        <div id="flecha">

        </div>
    </div>

</footer>
