footer {
    height: 12vh;
    width: 100%;
    background-color: #ff032c;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 3px;

}
#circuloNegro {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#circNegro {
    background-color: #012a24;
    height:60px;
    width:60px;
    border-radius: 50%;
    border: solid black 2px;
}
#panelPrincipal {
    height: 100%;
    width: 60%;
}
#botonesAzulRojo {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botonRojoDiv {
    background-color: red;
    height: 10px;
    width: 40%;
    margin-right: 10px;
    border: solid black 2px;
    border-radius: 100px;
}
#botonAzulDiv {
    background-color: rgb(47, 0, 255);
    height: 10px;
    width: 40%;
    border: solid black 2px;
    border-radius: 100px;
}
#panelVerde {

    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#panVerde {
    background-color: #02b059;
    width: 70%;
    height: 100%;
    border: solid black 2px;

    
}
#cruzDiv {
    height: 100%; /* Ajusta la altura según tus necesidades */
    width: 30%; /* Ajusta el ancho según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

#flecha::before,
#flecha::after {
    content: '';
    position: absolute;
    background-color: #012a24; /* Cambia el color según tus necesidades */
    border: 2px solid black;
}

#flecha::before {
    width: 60%;
    height: 25%;
    top: 40%;
    left: 20%;
    border: 2px solid black;
}

#flecha::after {
    width: 20%;
    height: 65%;
    top: 20%;
    left: 40%;
    border: 2px solid black;
}
#circNegro:hover {
    background-color: #021e19;
    cursor: pointer;
}
#botonRojoDiv:hover {
    background-color: rgb(194, 19, 19);
    cursor: pointer;
}
#botonAzulDiv:hover {
    background-color: rgb(36, 113, 230);
    cursor: pointer;
}
#panVerde:hover {
    background-color: rgb(27, 216, 27);
    cursor: pointer;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    footer {
        height: 12vh;
        width: 100%;
        background-color: #ff032c;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid black 3px;
    
    }
    #circuloNegro {
        height: 100%;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #circNegro {
        background-color: #012a24;
        height:60px;
        width:60px;
        margin-top: 5px;
        border-radius: 50%;
        border: solid black 2px;
    }
    #panelPrincipal {
        height: 100%;
        width: 60%;
    }
    #botonesAzulRojo {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #botonRojoDiv {
        background-color: red;
        height: 11px;
        width: 35%;
        margin-right: 10px;
        border: solid black 2px;
        border-radius: 100px;
    }
    #botonAzulDiv {
        background-color: rgb(47, 0, 255);
        height: 11px;
        width: 35%;
        border: solid black 2px;
        border-radius: 100px;
    }
    #panelVerde {
    
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #panVerde {
        background-color: #02b059;
        width: 60%;
        height: 100%;
        border: solid black 2px;
    
        
    }
    #cruzDiv {
        height: 100%; 
        width: 30%; 
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
    }
    
    #flecha::before,
    #flecha::after {
        content: '';
        position: absolute;
        background-color: #012a24; /* Cambia el color según tus necesidades */
        border: 2px solid black;
    }
    
    #flecha::before {
        width: 50%;
        height: 25%;
        top: 40%;
        left: 22%;
        border: 2px solid black;
    }
    
    #flecha::after {
        width: 15%;
        height: 65%;
        top: 20%;
        left: 40%;
        border: 2px solid black;
    }
    #circNegro:hover {
        background-color: #021e19;
        cursor: pointer;
    }
    #botonRojoDiv:hover {
        background-color: rgb(194, 19, 19);
        cursor: pointer;
    }
    #botonAzulDiv:hover {
        background-color: rgb(36, 113, 230);
        cursor: pointer;
    }
    #panVerde:hover {
        background-color: rgb(27, 216, 27);
        cursor: pointer;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    footer {
        height: 12vh;
        width: 100%;
        background-color: #ff032c;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid black 3px;
    
    }
    #circuloNegro {
        height: 100%;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    #circNegro {
        background-color: #012a24;
        height:60px;
        width:60px;
        margin-top: 5px;
        border-radius: 50%;
        border: solid black 2px;
        
    }
    #panelPrincipal {
        height: 100%;
        width: 60%;
    }
    #botonesAzulRojo {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #botonRojoDiv {
        background-color: red;
        height: 12px;
        width: 30%;
        margin-right: 10px;
        border: solid black 2px;
        border-radius: 100px;
    }
    #botonAzulDiv {
        background-color: rgb(47, 0, 255);
        height: 12px;
        width: 30%;
        border: solid black 2px;
        border-radius: 100px;
    }
    #panelVerde {
    
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #panVerde {
        background-color: #02b059;
        width: 50%;
        height: 100%;
        border: solid black 2px;
    
        
    }
    #cruzDiv {
        height: 100%; 
        width: 30%; 
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
    }
    
    #flecha::before,
    #flecha::after {
        content: '';
        position: absolute;
        background-color: #012a24; /* Cambia el color según tus necesidades */
        border: 2px solid black;
    }
    
    #flecha::before {
        width: 35%;
        height: 25%;
        top: 40%;
        left: 22%;
        border: 2px solid black;
    }
    
    #flecha::after {
        width: 10%;
        height: 65%;
        top: 20%;
        left: 35%;
        border: 2px solid black;
    }
    #circNegro:hover {
        background-color: #021e19;
        cursor: pointer;
    }
    #botonRojoDiv:hover {
        background-color: rgb(194, 19, 19);
        cursor: pointer;
    }
    #botonAzulDiv:hover {
        background-color: rgb(36, 113, 230);
        cursor: pointer;
    }
    #panVerde:hover {
        background-color: rgb(27, 216, 27);
        cursor: pointer;
    }
    
}