header {
    background-color: #ff032c;
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border: solid black 3px;
}
#botones {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 30px;
   
    
}
#botonAzul {
    background-color:#fefaf2;
    height: 9vh;
    width: 9vh;
    border-radius: 50%;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#btnBlue {
    background-color: #00dbfe;
    border-radius: 50%;
    border: 4px solid black;
    width: 7vh; /* Ancho igual a la altura para hacer un círculo perfecto */
    height: 7vh; /* Establecer la altura para que sea igual al ancho */
    display: flex;
    justify-content: start;
    align-items: center;
}

#botonesColores {
    height: 100%;
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: start;

}
.botonColor {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 5px;
    margin-top: 10px;
    border: black solid 4px;
    
}
#rojo {
    background-color: red;
}
#rojo:hover {
    background-color: rgb(249, 77, 77);
    cursor: pointer;
}
#amarillo {
    background-color: rgb(255, 235, 84);
}
#amarillo:hover {
    background-color: #c9bf6e;
    cursor: pointer;
}
#verde {
    background-color: #2eab6f;
}
#verde:hover {
    background-color: rgb(132, 255, 91);
    cursor: pointer;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    
    #botones {
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 30px;
    }
    #botonAzul {
        background-color:#fefaf2;
        height: 9.5vh;
        width: 9.5vh;
        border-radius: 50%;
        border: 4px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
    
    #btnBlue {
        background-color: #00dbfe;
        border-radius: 50%;
        border: 4px solid black;
        width: 7.5vh; 
        height: 7.5vh; 
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    #botonesColores {
        height: 100%;
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: start;
        align-items: start;
    
    }
    .botonColor {
        height: 22px;
        width: 22px;
        border-radius: 50%;
        margin: 5px;
        margin-top: 10px;
        border: black solid 4px;
        
    }
   
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #botones {
        height: 100%;
        width: 35%;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 30px;
    }
    #botonAzul {
        background-color:#fefaf2;
        height: 10vh;
        width: 10vh;
        border-radius: 50%;
        border: 4px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
    
    #btnBlue {
        background-color: #00dbfe;
        border-radius: 50%;
        border: 4px solid black;
        width: 8vh; 
        height: 8vh; 
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    #botonesColores {
        height: 100%;
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: start;
        align-items: start;
    
    }
    .botonColor {
        height: 23px;
        width: 23px;
        border-radius: 50%;
        margin: 5px;
        margin-top: 10px;
        border: black solid 4px;
        
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    #botones {
        height: 100%;
        width: 30%;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 30px;
    }
    #botonAzul {
        background-color:#fefaf2;
        height: 11vh;
        width: 11vh;
        border-radius: 50%;
        border: 4px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
    
    #btnBlue {
        background-color: #00dbfe;
        border-radius: 50%;
        border: 4px solid black;
        width: 9vh; 
        height: 9vh; 
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    #botonesColores {
        height: 100%;
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: start;
        align-items: start;
    
    }
    .botonColor {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        margin: 5px;
        margin-top: 10px;
        border: black solid 4px;
        
    }
}

@media screen and (min-width: 1440px) {
    #botones {
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 30px;
    }
    #botonAzul {
        background-color:#fefaf2;
        height: 11vh;
        width: 11vh;
        border-radius: 50%;
        border: 4px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
    
    #btnBlue {
        background-color: #00dbfe;
        border-radius: 50%;
        border: 4px solid black;
        width: 9vh; 
        height: 9vh; 
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    #botonesColores {
        height: 100%;
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: start;
        align-items: start;
    
    }
    .botonColor {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin: 5px;
        margin-top: 10px;
        border: black solid 4px;
        
    }
}