.cardPokemon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-wrap: wrap;
}

.pokeCard {
    width: 300px; /*CAMBIAR A PORCENTAJES CUANDO SE HAGAN MEDIAQUERYS*/
    height: 420px;
    border-radius: 20px;
    margin-bottom: 12%;
    margin: 20px;
    transition: transform 0.2s ease-in-out;


}
.imgCabecera {
    height: 40%; /* Establece una altura fija para el contenedor de la imagen */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.imagenPok {
    max-width: 100%; /* La imagen se ajustará al ancho máximo del contenedor */
    max-height: 100%; /* La imagen se ajustará a la altura máxima del contenedor */
}
.cuerpoTarjeta {
    height: 60%;
    width: 100%;
}
#tituloDiv {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#tituloDiv h1 {
    font-size: 1.6rem;
}
#tipos {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#tipos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.opciones {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcion {
    text-align: center;
    margin: 10px;
    margin-bottom: 10px;
}
#debilidades {
    text-align: center;
    margin-top: 10px;

}

#debilidadesBox {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap; /* Evita que los elementos se dividan en varias líneas */
    margin-top: 5px;
    
}

.debilidad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 252, 252);
    height: auto; /* Altura fija para cada elemento de debilidad */
    width: 70px; /* Ancho mínimo para cada elemento de debilidad */
    margin-right: 5px;
    margin-left: 5px;

    padding: 5px;
    border-radius: 5px;

}


.pokeCard:hover {
    cursor: pointer;
    transform: translateY(-10px); /* Ajusta los valores según tus preferencias */
  }
