.cardPokemon {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 5%;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-wrap: wrap;
}
.pokeCard {
    width: 310px;
    height: 420px;
    border-radius: 20px;
    background: rgba(89, 187, 8, 0.306);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 12%;
    
}
.imgCabecera {
    height: 40%; /* Establece una altura fija para el contenedor de la imagen */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.imagenPok {
    max-width: 100%; /* La imagen se ajustará al ancho máximo del contenedor */
    max-height: 100%; /* La imagen se ajustará a la altura máxima del contenedor */
}
.cuerpoTarjeta {
    height: 60%;
    width: 100%;
}
#tituloDiv {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#tituloDiv h1 {
    font-size: 1.6rem;
}
#tipos {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#tipos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.opciones {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcion {
    text-align: center;
    margin: 10px;
    margin-bottom: 10px;
}
#debilidades {
    text-align: center;
    margin-top: 10px;

}

#debilidadesBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto; /* Utiliza overflow-x: auto para habilitar el scroll horizontal cuando sea necesario */
    white-space: nowrap; /* Evita que los elementos se dividan en varias líneas */
    margin-left: 5px;
}

.debilidad {
    background-color: rgb(248, 252, 252);
    height: 30px; /* Altura fija para cada elemento de debilidad */
    min-width: 70px; /* Ancho mínimo para cada elemento de debilidad */
    margin-right: 20px;
    margin-top: 5px;
    padding: 2px;
    border-radius: 5px;
}
#debilidadFuego {
    background: linear-gradient(to bottom, rgb(248, 133, 17) 40%, red 60%)
}
#debilidadViento {
    background: linear-gradient(to bottom, rgb(173, 226, 244) 40%, rgb(246, 242, 242) 60%)
}
#debilidadBicho {
    background: linear-gradient(to bottom,  rgb(164, 254, 108) 40%, rgb(63, 165, 8) 60%)
}
#debilidadHielo {
    background: linear-gradient(to bottom,rgb(18, 251, 255) 40%,rgb(48, 157, 179) 60%)
}


@media screen and (min-width: 800px) and (max-width: 1400px) {
    .pokeCard {
        width: 280px;
        height: 390px;
        margin: 10px; /* Agrega un margen entre las tarjetas para separarlas */
    }
}