<div class="cardPokemon">
    <div class="pokeCard">
        <div class="imgCabecera">
            <img class="imagenPok" src="assets/pokemons/Bulbasur.png" alt="Bulbasur png">
        </div>
        <div class="cuerpoTarjeta">
            <div id="tituloDiv">
                <h1>BULBASUR</h1>
            </div>
            <div id="tipos">
                <div class="opciones">
                    <div class="opcion">
                        <h4>Altura</h4>
                        <p>0,7m</p>
                    </div>
                    <div class="opcion">
                        <h4>Peso</h4>
                        <p>6,9kg</p>
                    </div>
                </div>
                <div class="opciones">
                    <div class="opcion">
                        <h4>Categoría</h4>
                        <p>Semilla</p>
                    </div>
                    <div class="opcion">
                        <h4>Tipo</h4>
                        <p>Planta</p>
                    </div>
                </div>
            </div>
            
            
            <div id="debilidades">
                <h4>Debilidades</h4>
                <div id="debilidadesBox">
                    <div class="debilidad" id="debilidadFuego">
                        FUEGO
                    </div>
                    <div class="debilidad" id="debilidadViento">
                        VIENTO
                    </div>
                    <div class="debilidad" id="debilidadBicho">
                        BICHO
                    </div>
                    <div class="debilidad" id="debilidadHielo">
                        HIELO
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
