<div class="cardPokemon">
    <div class="pokeCard">
        <div class="imgCabecera">
            <img class="imagenPok" src="assets/pokemons/Bulbasur.png" alt="Bulbasur png">
        </div>
        <div class="cuerpoTarjeta">
            <div id="tituloDiv">
                <h1>BULBASUR</h1>
            </div>
            <div id="tipos">
                <div id="alturaCategoriaDiv">
                    p
                </div>
                <div id="pesoHabilidadDiv">
                    p
                </div>
            </div>
            
        </div>
    </div>
</div>
